* {
 
  background-color: #dbbc7f;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
color: rgb(59, 0, 0);
}

#navbarText {
  font-size: 20px;
}

#yusefs {
  font-size: 75px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

li {
  display: inline;
}

header {
  font-size: 50px;
  background-color: bisque;
}

.phone {
  position: fixed;
  right: 0;
  bottom: 99
}



.card {
  opacity: 90%;
}
